html, body {
    margin: 0;
    height: 100%;
    padding: 0;

}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    min-height: 100%;
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(50, 80, 80);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(50, 80, 80);
    padding: 10px 20px 0px;
}
.header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
       
}
.texto_sobreposto {
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
    color: rgb(64, 70, 78);

}
.img_1{
    max-width: 100%;
    height: auto
}
.img_2{
    max-width: 100%;
    height: auto;
}
.content {
    background-color: white;
    min-height: 400px;
    padding: 20px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
    display: flex;
}
.button {
    background-color: rgb(56, 56, 233);
    border: 2px solid #04AA6D;
    border-radius: 5px;
    text-align: center;
    padding: 15px 32px;
    color: white;
    padding: 15px 32px;
    cursor: pointer;
    display: inline-block;
    width: 150px;
}